body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}